.container{
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 12px;
  width: 100vw;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
  overflow: auto;
}

.container>*{
  width: 100%;
  /* padding: 8px; */
  box-sizing: border-box;
}

.header>*{
  margin: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.content>div>*{
  flex-shrink: 0;
}

.dealerCards, .playerCards{
  width: 100%;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.dealerCards{
  justify-content: space-between;
}

.dealerCards>div{
  display: flex;
  gap: 8px;
}

.playerCards{
  /* justify-content: flex-end; */
}

.actionsPanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionsPanel>p{
  margin: 0;
}

/* .header{
  background-color: red;
}

.content{
  background-color: green;
}

.actionsPanel{
  background-color: blue;
} */